html,
body {
  margin: 0;
  padding: 0;
}
body {
  min-width: 960px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background: #000000 url("../img/body-bg.jpg") no-repeat center top;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-navigation li,
.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}
a {
  color: #ffffff;
  text-decoration: none;
}
h1 {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 30px;
  line-height: 42px;
  color: #000000;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  font-family: "PT Sans Narrow", Arial, sans-serif;
}
.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  background: url("/img/news-bg.jpg");
}
.main-header {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;
}
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}
/*.container::after{
	display: table;
	content: "";
	float: none;
	clear: both;
}*/

.main-navigation {
  float: left;
  width: 780px;
  min-height: 70px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 25px 20px;
}
.main-navigation a:hover {
  background: #242424;
}
.user-block {
  float: right;
  max-width: 140px;
  min-height: 70px;
}
.login {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}
.login:hover {
  background-color: #242424;
}
.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;

  background: url("../img/icon/spritesheet.png") no-repeat;
  background-position:  -150px -14px;
  opacity: 0.3;
}
.login:hover::before {
  opacity: 1;
}
.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.index-logo img {
  width: 368px;
  height: 204px;
}
.features {
  margin-bottom: 80px;
}
.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}
.features-item:last-child {
  margin-right: 0;
}
.features-name {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
}
.features-item p {
  margin: 10px;
  margin-bottom: 0;
}
.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  transform: rotate(45deg);
  background-color: #ffffff;
}
.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  color: #000000;
  background: url("../img/index-content-shadow.png") no-repeat center, background: #f8f5f2 url("../img/news-bg.jpg");
}
.index-content-left {
  float: left;
  width: 380px;
}
.index-content-right {
  float: right;
  width: 300px;
}
.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}
.index-content p {
  margin: 0;
  margin-bottom: 25px;
}
.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  list-style: none;
}
.news-preview li {
  margin-bottom: 25px;
}
.news-preview p {
  margin-bottom: 0;
}
.news-preview time {
  text-transform: none;
}
.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: #663d15;
}
.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}
.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}
.gallery {
  position: relative;
  height: 260px;
}
.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}
.gallery-content img {
  width: 286px;
  height: 164px;
}
.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}
.gallery-prev {
  left: 0;
}
.gallery-next {
  right: 0;
}
.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  font: inherit;
  color: inherit;
  text-transform: inherit;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}
.appointment-form input:focus {
  border: 2px solid #663d15;
}
.appointment-form input:nth-child(2n) {
  margin-right: 0;
}
.appointment-form .btn {
  clear: both;
  width: 100%;
}
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  /* лучше явно прописать везде для футера */
  background: #252525 url("../img/pattern-black.jpg");
}
.footer-contacts a {
  color: #ffffff;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}
.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}
.footer-copyright {
  float: right;
  max-width: 180px;
}
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}
.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
.footer-copyright .btn {
  margin-right: 0;
}
.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}
.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  background-color: #000000;
  text-decoration: none;
  background: #000000 url("../img/icon/spritesheet.png") no-repeat center;
  transition: background-position 0.5s, background-color 0.5s;
}
/*
.social-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% -50%);
    background-image: url("../img/icon/spritesheet.png");
    background-repeat: no-repeat;
}


.social-btn-vk::before {
       width: 25px;
    height: 16px;
    background-position: -198px -15px;

}
*/

/*


.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-cross {
    width: 12px;
    height: 12px;
    background-position: -15px -15px;
}

.sprite-icon-fb {
    width: 12px;
    height: 22px;
    background-position: -57px -15px;
}

.sprite-icon-inst {
    width: 21px;
    height: 21px;
    background-position: -99px -15px;
}

.sprite-icon-login {
    width: 18px;
    height: 16px;
    background-position: -150px -15px;
}

.sprite-icon-vk {
    width: 25px;
    height: 16px;
    background-position: -198px -15px;
}
*/

.social-btn:hover {
  background-color: #ffffff;
}
.social-btn-vk {
  background-position: -189px -3px;
}
.social-btn-fb {
  background-position: -42px -7px;
}
.social-btn-inst {
  background-position: -87px -4px;
}
.social-btn-vk:hover {
  background-position: 9px -381px;
}
.social-btn-fb:hover {
  background-position: 15px -100px;
}
.social-btn-inst:hover {
  background-position: 12px -242px;
}
.index-content p {
  color: black;
}
/*catalog*/

.main-head {
  color: #ffffff;
  background-color: #000000;
}
.container-item {
  width: 940px;
  min-height: 913px;
  margin: 0 auto;
  padding: 0 130px;
  background: #f8f5f2 url("../img/news-bg.jpg");
}
.breadcrumbs a {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 25px 20px;
}
.breadcrumbs {
  font-size: 0;
}
.breadcrumbs .current {
  color: #aba9a7;
}
.select {
  background: #f8f5f2 url("../img/news-bg.jpg");
  color: black;
}
.select h1 {
  width: 550px;
  margin: 0;
}
.breadcrumbs {
  list-style: none;
  margin: 0;
}
.catalog {
  box-sizing: border-box;
  min-height: 680px;
  color: black;
/*  background: #f8f5f2 url("../img/news-bg.jpg");*/
}
.select {
  min-height: 68px;
  /*margin-bottom: 55px;*/
}
.filters {
  float: left;
  width: 170px;
  height: 570px;
}
.cards {
  float: right;
  width: 730px;
  min-height: 622px;
  
  color: black;
}
.paginator {
  display: block;
  vertical-align: bottom;
  width: 195px;
  height: 45px;
  margin: 0;
  color: #000000;
    margin-bottom: 45px;
  outline: 1px solid rgba(244, 234, 5, 0.8);
  box-shadow: inset 0 0 40px rgba(244, 234, 5, 0.8);
}
.paginator a {
  padding: 10px 10px;
  color: black;
  text-decoration: none;
    
}


.page {
    font-size: 14px;
    margin-right: 7px;
}
/*
.paginator a {
 width: 43px;
  height: 43px;
    margin: 0 2px;
  font-size: 0;
  vertical-align: top;
     background-color: #000000;
  text-decoration: none;}
*/

fieldset {
  border: none;
  margin-bottom: 45px;
}
form {
  width: 175px;
  padding: 0;
}
label {
  display: inline-block;
  text-align: start;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}
.product input,
.producer input {
  margin-right: 10px;
}





.items article {
  background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-size: 14px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding-bottom: 15px;
    vertical-align: top;
    width: 220px;
}
.items article :ntn-shild (3n) {
  margin-right: 0;
}

article a{
 
  display: inline-block;
        color: #000000;
    font-size: 14px;
    padding-left: 20px;
}

.purchase {
/*  padding: 0 20px 20px 20px;*/
    background-color: #e5e5e5;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.purchase .btn {
    margin-right: 0;
 
   
}

















.all-photos {
  float: left;
  width: 460px;
  min-height: 500px;
  margin-bottom: 20px;
}
.information {
  float: right;
  width: 390px;
  min-height: 670px;
  color: #000000;
}
.other-photo img {
  float: left;
  width: 140px;
  height: 149px;
  margin-right: 20px;
  outline: 1px solid rgba(244, 234, 5, 0.8);
  box-shadow: inset 0 0 40px rgba(244, 234, 5, 0.8);
}
.other-photo img:last-child {
  margin-right: 0;
}
.center {
  text-align: center;
}

article h2 {

  display: inline-block;
    margin: 0 0 16px 0;
    padding: 0;
}
